/.vs
/Library
/Temp
/github2.csproj
/github2.Editor.csproj
/*.sln
UserSettings/EditorUserSettings.asset
UnityPackageManager/manifest.json
Release/Neuron_Mocap_Unity_Plugin_1.1.0.0.unitypackage
ProjectSettings/VFXManager.asset
ProjectSettings/VersionControlSettings.asset
ProjectSettings/UPRSettings.asset
ProjectSettings/PresetManager.asset
ProjectSettings/PackageManagerSettings.asset
ProjectSettings/AutoStreamingSettings.asset
Packages/packages-lock.json
Packages/manifest.json
Neuron_Mocap_Live_Unity.Editor.csproj
Neuron_Mocap_Live_Unity.csproj
Logs/Packages-Update.log
Logs/AssetImportWorker0-prev.log
*.csproj
